.faqs{
    gap: 0.5em;
}

.faqs__item{
    margin-bottom: 0.5em;
    font-size: 1.5rem;
    padding:0.7em;
    display: flex;
    border-radius: 10px;
    background-color: #009640;
    color: white;
  }

  .faqs__item__question{
    
    list-style-type: none;
  }

  .faqs__items__answer{
    margin-top: 0.5em;
    text-align: justify;
  }
  .hr__faqs{
    margin-top: 0.5em;
    width: 100%;
    border: 1px solid white;
   
  }