.faqs{
  display: flex;
  flex-direction: column;
  align-items: center;
    gap: 0.5em;
}

.faqs__item{
    margin-bottom: 0.5em;
    font-size: 1.5rem;
    padding:0.7em;
    display: flex;
    border-radius: 10px;
    background-color: #009640;
    color: white;
    width: 65%;
    box-shadow: 1px 12px 16px 1px rgba(0,0,0,0.5);


  }

  .faqs__item__question{   
    display: flex;
    font-size: 2rem;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    font-weight: 600;
    text-align: left;
  }

  .icon__faqs{
    font-weight: 600;
    font-size: 2.5rem;
  }


  .faqs__items__answer{
    margin-top: 0.5em;
    font-size: 2rem;
    text-align: justify;
    font-weight: 200;
  }
  .hr__faqs{
    margin-top: 0.5em;
    width: 100%;
    border: 1px solid white;
   
  }

  @media (min-width: 300px) and (max-width:800px){
    .faqs__item{
     
      padding:0.;
    }

    .faqs__item{
      width: 100%;
    }
      
  }