.contact__us{

display: flex;
flex-direction: column;
align-items: center;
background-color:  #009640;
width: 60%;
color: white;
border-radius: 25px;
border: 0.1em solid black;

}

.title__form{
    width: 100%;
    font-size: 2.5rem;
    margin-top: 2em;
}

.form__container{
    display: flex;
    flex-direction: column;
    padding: 1em;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.form__list{
    display: flex;
    flex-direction: column;
    width: 80%;

}

.container__info__label{
    display: flex;
    flex-direction: column;
}

.form__label__info{
    margin-top: 0.8em;
    font-size: 1.8rem;
    margin-bottom: 0.3em;

}

.form__input__info{
    font-size: 2rem;
    
}

@media (min-width: 300px) and (max-width:750px){

    .contact__us{

        display: flex;
        flex-direction: column;
        align-items: center;
        background-color:  #009640;
        width: 100%;
        color: white;
        border-radius: 25px;
        border: 0.1em solid black;
        
        }

        .form__list{
            display: flex;
            flex-direction: column;
            width: 100%;
        
        }
        


}