
.nav__bar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 10;

}

.nav__bar__img{
    
    width: 100%;
    max-width: 200px;
    
    


}

.nav__bar__menu{
    width: 100%;
    background-color:#009640;
    display:flex;
    justify-content: end;
    padding: 0.5em 0;
    column-gap: 1em;
    align-items: center;

}

.nav__menu__item{
    color: white;
    background-color: black;
    padding: 0.3em;
    font-size: 1.8rem;
    border-radius: 10px;
    font-weight: 500;
    border: 1px solid white;
    list-style-type: none;
}



.front__page{
    position: relative;
    display: flex;
    align-items: end;
    top: 3em;
    justify-content: center;

}

.front__page__img{
    margin-top: 2em;
    width: 80%;
    margin-bottom: 2em;
}