
*{
  box-sizing: border-box;
}
html {
  font-family: 'Rubik', sans-serif;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
}
h1, h2, h3, p, ul, hr {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  list-style: none;
  padding-left: 0;
}
input, select, button {
  font-family: inherit;
}
input {
  outline: 0;
}
img {
  display: block;
  width: 100%;
}
button {
  cursor: pointer;
  border: 0;
}

a{
  color: white;
  text-decoration: none;
}
.section{
  margin: 10em auto;
  padding-top: 5em;
  color: #009640;
  text-align: center;
  margin-top: 2em;
  width: 90%;
}

.section__title{
  font-size: 3.6rem;
  text-align: center;
  margin-bottom: 0.5em;
  font-weight: 600;
  text-transform: uppercase;
  text-shadow: 0px 5px 6px rgba(0,0,0,0.28);
}

.description__us{
  padding: 0.5em;
  font-size: 3rem;
  line-height: 1.5em;
  text-align: center;
  font-weight: 200;
  background-color: #009640;
  color: white;
  border-radius: 25px;
  box-shadow: 1px 12px 16px 1px rgba(0,0,0,0.75);

}

@media (min-width: 300px) and (max-width:1000px){

  .section{
    
    padding: 0.5em;
    color: #009640;
    text-align: center;
    margin-top: 1.5em;
    width: 100%;
  }

  .section__title{
    font-size: 2rem;
    
  }

  .description__us{
    padding: 0.5em;
    font-size: 1.5rem;
    border: 0;
    text-align: justify;
  }
}
