
*{
  box-sizing: border-box;
}
html {
  font-family: 'Rubik', sans-serif;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
}
h1, h2, h3, p, ul, hr {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  list-style: none;
  padding-left: 0;
}
input, select, button {
  font-family: inherit;
}
input {
  outline: 0;
}
img {
  display: block;
  width: 100%;
}
button {
  cursor: pointer;
}

a{
  color: white;
  text-decoration: none;
}
.section{
  margin: 10em auto;
  padding: 3em;
  color: #009640;
  text-align: center;
  margin-top: 1.5em;
  width: 90%;
}

.section__title{
  font-size: 3.5rem;
  text-align: center;
  margin-bottom: 0.5em;
  font-weight: 600;
  text-transform: uppercase;
}

.description__us{
  padding: 0.5em;
  font-size: 3rem;
  line-height: 1.5em;
  text-align: center;
  font-weight: 200;
  background-color: #009640;
  color: white;
  border-radius: 25px;
  border: 0.1em solid black;
}

@media (min-width: 300px) and (max-width:1000px){

  .section{
    margin: auto auto;
    padding: 0;
    color: #009640;
    text-align: center;
    margin-top: 1.5em;
    width: 90%;
  }

}
