.contaniner__pvalue{
    display: flex;
    justify-content: space-around;
    padding: 1em;
    flex-wrap: wrap;
    gap: 2em;
}

.card__pvalue{
    border: 1px solid white;
    padding: 1em;
    max-width: 600px;
    width: 100%;
    background-color: #009640;
    border: 0.1em solid black;
    border-radius: 25px;




}
.card__pvalue__title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    margin-bottom: 0.1em;
    text-transform: uppercase;
    min-height: 2em;
    color: white;
    
}
.proposal__valor{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icons__proposal__value{
    color:  white;
    font-size: 10rem ;
    
}

.proposal__valor__info{
    font-size: 1.8rem;
    text-align: justify;
    font-weight: 500;
    color: white;

}

@media (min-width: 300px) and (max-width:1000px){
    

    .contaniner__pvalue{
        width: 100%;
        padding: 0;
    }
    .card__pvalue{
        padding: 0;
    }
    .card__pvalue__title{
        padding-top: 0.5em;
        font-size: 1.7rem;
        font-weight: 600;
    }

   

    .proposal__valor__info{
        padding: 0.5em;
        font-size: 1.5rem;
        text-align: center;
        font-weight: 200;
        color: white;
    
    }

   
}