.contaniner__pvalue{
    display: flex;
    justify-content: space-around;
    padding: 1em;
}

.card__pvalue{
    border: 1px solid white;
    padding: 1em;
    max-width: 450px;
}
.card__pvalue__title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    margin-bottom: 0.1em;
    text-transform: uppercase;
    min-height: 2em;
    
}

.icons__proposal__value{
    color:  white;
    font-size: 10rem ;
    
}

.proposal__valor__info{
    font-size: 1.8rem;
    text-align: center;
    font-weight: 500;

}