
.container__products{
    position: relative;
    margin-top: 3em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
    z-index: 1;
}

.nav__bar__img__cat{
    max-width: 150px;
}

.product__card{
    min-width:300px ;
    max-width: 300px;
    border: 2px solid #009640;
    border: 3px solid black;
    padding: 0.3em ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient( white 15%, #009640 100%);
    border-radius: 0 20px 0 20px;
}

.product__card__title{
    padding: 0.5em;
    text-align: center;
    vertical-align: middle;
    font-size: 1.8rem;
    margin-bottom: 0.5em;
    border-bottom: 2px solid rgba(0, 0, 0, 0.322);
}

.product__card__img{
    position: relative;
    bottom: 0;
        
}

.products__page{
    position: relative;
    top:10vh;
    z-index: 0;
    margin-bottom: 7.5em;
}

.ws__catalog{
    display: flex;
    width: 60px;
    position:fixed;
    bottom: 30px;    
    right: 15px;
    animation: 1.5s ease 0s infinite beat;
    z-index: 2;
}

.nav__img__cat{
    padding-left: 1em;
    max-width: 150px;
    max-height: 10vh;
}

@media (min-width: 300px) and (max-width:1000px){
    .ws__catalog{
        display: flex;
        width: 60px;
        position:fixed;
        bottom: 30px;    
        right: 15px;
        animation: 1.5s ease 0s infinite beat;
        z-index: 2;
    }


}