body{
    position: relative;
 
}
.container__products{
    position: absolute;
    margin-top: 3em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
    z-index: 1;
}

.nav__bar__img__cat{
    max-width: 150px;
}

.product__card{
    min-width:300px ;
    max-width: 300px;
    border: 2px solid #009640;
    border: 3px solid black;
    padding: 0.3em ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient( white 15%, #009640 100%);
    border-radius: 0 20px 0 20px;
}

.product__card__title{
    padding: 0.5em;
    text-align: center;
    vertical-align: middle;
    font-size: 1.8rem;
    margin-bottom: 0.5em;
    border-bottom: 2px solid rgba(0, 0, 0, 0.322);
}

.product__card__img{
    position: relative;
    bottom: -25px;
        
}

.products__page{
    position: relative;
    top:10vh;
    z-index: -1;
}

.ws__catalog{
    display: flex;
    width: 60px;
    position:fixed;
    z-index: 50;
    bottom: 30px;    
    right: 15px;
    animation: 1.5s ease 0s infinite beat;

}