.contact__us{

display: flex;
flex-direction: column;
align-items: center;

}



.form__container{
    background-color:  #00964191;
    color: white;
    border: 0.1em solid black;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    padding: 1em;
    width: 60%;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 12px 16px 1px rgba(0,0,0,0.75);
}

.form__list{
    display: flex;
    flex-direction: column;
    width: 60%;

}

.container__info__label{
    display: flex;
    flex-direction: column;
}

.form__label__info{
    margin-top: 0.8em;
    font-size: 1.8rem;
    margin-bottom: 0.3em;

}

.form__input__info{
    font-size: 2rem;
    border: 7px groove black;
    font-weight: 200;
    border-radius: 15px;

    
}
.textarea__form{
    font-size: 2rem;
    border: 7px groove black;
    font-weight: 500;
    border-radius: 15px;


}
.form__btn{
    
    margin: 0.5em auto;
    width: 100;
    font-size: 2rem;
    border-radius: 10px;
    border: 2px solid black;
}


@media (min-width: 300px) and (max-width:750px){

    
        .form__container{
            padding: 0;
            width: 90%;
        }
       

        .form__list{
            display: flex;
            flex-direction: column;
        
        }
        .form__btn{
            width: 100%;
        }

        .textarea__form{
            font-size: 1.5rem;
            border: 7px groove black;
            font-weight: 200;
        
        }

}